# Application URLs
BASE_URL=https://www.saucedemo.com
API_BASE_URL=https://reqres.in/api

# Valid Credentials
STANDARD_USER=standard_user
LOCKED_USER=locked_out_user
PASSWORD=secret_sauce

# Invalid Credentials (for negative tests)
INVALID_USER=invalid_user
INVALID_PASSWORD=wrong_password
